<html>
<body>
<style>
h1 {text-align: center;}
</style>
<h1>Snacks List</h1>
<div class="container">

<table class="table table-striped">
  <tr>
     <th>ID </th>
     <th>Snack name</th>
     <th>Snack Brand</th>
     <th>Producer</th>
     <th>Snack Price</th>
     <th> Stock Unit </th>
     <th> Qty </th>
     <th> Status </th>
     <th> Update </th>
     <th> Delete </th>

  </tr>
  <tr>

  {% for snack in snacks %}
    <td> {{ snack.id }} </td>
    <td> {{ snack.snackname }}</td>
    <td> {{ snack.snackbrand }}</td>
    <td> {{ snack.producer }}</td>
    <td> {{ snack.snackprice }}</td>
    <td> {{ snack.stockunit }}</td>
    <td> {{ snack.qty }}</td>
    <td>
        {% if snack.qty > 1 %}
            <p style= "color : blue"> available </p>
        {% else %}
           <p style= "color : red "> reorder </p>
    {% endif %}
    </td>
    <td>
    <a class="btn btn-info" href ="{%url 'update_snack' snack.id %}" >Update</a>
    </td>

    <td>
    <a class="btn btn-danger" href="{%url 'delete_snack' snack.id %}">Delete</a>
    </td>

    </tr>
  {%endfor%}
</table>

<a class="btn btn-info pull-right" href = "{%url 'add_snack' %}"> new product </a>
{#we can use the statement "url" and write the address "name" as specified in the urls.py#}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</div>
</body>
</html>